.posts{
    background-color: black;  
    width: 92vw;
    height: auto; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 15vw;   
}

.post{
   display: flex;
   flex-direction: column;
   width: 700px;
   height: 365px;
   font-family: 'Do Hyeon', sans-serif;
   border: medium dashed green;
   margin-bottom: 30px;
   margin-top: 42px;    
}
