.app{
    display: flex;
    flex-direction: row; 
    position: absolute; 
      
}

.navigation{   
    color: white;    
    align-items: center; 
    flex-direction: row;     
    max-height: 300vh;
    width: 8vw;
    font-size: 26px;
    background-color: black;
    text-align: center;
    font-family: 'Bangers', cursive;       
}

    li.pink {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ff00de, 0 0 80px #ff00de, 0 0 90px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
   }
   
   li.green {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #00ff00, 0 0 80px #00ff00, 0 0 90px #00ff00, 0 0 100px #00ff00, 0 0 150px #00ff00;
   }
   li.blue {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #0000ff, 0 0 80px #0000ff, 0 0 90px #0000ff, 0 0 100px #0000ff, 0 0 150px #0000ff;
   }
   li.yellow {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffff00, 0 0 80px #ffff00, 0 0 90px #ffff00, 0 0 100px #ffff00, 0 0 150px #ffff00;
   }


.navigation>ul>li{    
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.navigation>ul{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

